<form action="/stories/{{id}}" method="PUT">
  <header>
    <div class="segmented">
      <label>
        <input type="radio" name="type" value="feature"{{#f isFeature}} checked{{/f}}>
        Feature
      </label>
      <label>
        <input type="radio" name="type" value="bug"{{#f isBug}} checked{{/f}}>
        Bug
      </label>
      <label>
        <input type="radio" name="type" value="milestone"{{#f isMilestone}} checked{{/f}}>
        Milestone
      </label>
    </div>

    <ul>
      <li><button type="submit">Save</button></li>
    </ul>
  </header>

  <div class="content">
    <h2>Details</h2>
    <section>
      <p><textarea name="description">{{description}}</textarea></p>
      <p class="status">
        <label for="story_status">Status</label>
        <select id="story_status" name="status">
          {{#statuses}}
            <option value="{{value}}"{{#if selected}} selected="selected"{{/if}}>{{name}}</option>
          {{/statuses}}
        </select>
      </p>


      <p class="owner">
        <label for="story_owner">Owned by</label>
        <select id="story_owner" name="owner_email">
          <option>nobody</option>
          {{#users}}
            <option value="{{email}}" {{#selected}} selected="selected"{{/selected}}>{{name}}</option>
          {{/users}}
        </select>
      </p>
    </section>

    <!--
    <h2>Discuss</h2>
    <section>
      <ul class="discuss">
        <li>
          <p>Not a bad idea but I think the button should be bigger. Not a bad idea but I think the button should be bigger. Not a bad idea but I think the button should be bigger. Not a bad idea but I think the button should be bigger. Not a bad idea but I think the button should be bigger.</p>
          <div class="meta">
            <span>Jonathan Hoyt</span>
            <span>6 hours ago</span>
          </meta>
        </li>
        <li>
          <p>Not a bad idea but I think the button should be bigger.</p>
          <div class="meta">
            <span>Jonathan Hoyt</span>
            <span>6 hours ago</span>
          </meta>
        </li>
      </ul>
      <textarea></textarea>
    </section>

    <h2>Task List</h2>
    <section>
      <ul>
        <li>Make everything green.</li>
        <li>Understand the thinking.</li>
      </ul>
    </section>
    -->
  </div>

  <footer>
    <ul><li><a href="#" class="destroy button">Delete</a></li></ul>
  </footer>
</form>