<li id="task-{{id}}" class="task editable">
  <div class="view-mode">
    {{description}} <span class="status">({{status}})</span>
    <a href="#" class="state-changer">Edit</a>
  </div>
  <div class="edit-mode">
    <form action="/tasks/{{id}}" method="PUT">
      <input type="text" name="description" value="{{description}}">
      <select name="status">
        {{#statuses}}
          <option value="{{value}}"{{#if selected}} selected="selected"{{/if}}>{{name}}</option>
        {{/statuses}}
      </select>
      <input type="submit" value="Update"> or <a href="#" class="state-changer">Cancel</a>
      <a href="#" class="destroy">Delete</a>
    </form>
  </div>
</li>
